@import "../../../styles/global.scss";

@import "../../../styles/global.scss";

.Reviews {
  min-width: 100vw;
  min-height: 100vh;
  @include flex-center;
  flex-direction: column;
  justify-content: space-between;
  color: $white;
  background-color: $blue;
  main {
    @include flex-center;
    border: 1px solid red;
    flex-direction: row;
    justify-content: space-between;
    width: 82%;
    margin: 0 3rem;
    .title {
      align-self: flex-start;
      margin-bottom: 3rem;
    }
  }

  section.left {
    filter: drop-shadow(0px 25px 25px $blue-shadow);
    // border: 1px solid red;
    max-width: 28rem;
    margin-right: 5rem;
    :nth-child(2) {
      transform: scaleX(-1);
      margin-top: 2rem;
      margin-left: 7rem;
    }
  }

  section.reviews {
    @include flex-center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8rem;
  }
  .ReviewItem {
    max-width: 25rem;
    h2 {
      font-weight: 600;
      letter-spacing: 0.2rem;
    }
    h3 {
      max-width: 24rem;
    }
    margin-right: 2rem;
  }
}