@import "../../../styles/global.scss";

.Yellow {
  @include flex-center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $yellow;
  main {
    @include flex-center;
    justify-content: space-between;
    width: 86%;
    margin-top: 3rem;
    h1 {
      color: $white;
    }
    h2 {
      max-width: 55rem;
    }
    .Button {
      margin-top: 2.5rem;
    }
  }
  section.demo-interactive {
    filter: none
  }
}