@import "../../../styles/global.scss";

.Hero {
  min-width: 100vw;
  min-height: 100vh;
  @include flex-center;
  flex-direction: column;
  color: $white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
  transition: 0.5s;
  h3 {
    max-width: 34rem;
  }
}