$red: #D34848;
$red-shadow: rgb(129, 0, 0);
$yellow: #FFB33F;
$blue: #1FE1E9;
$blue-shadow: #007b80;
$purple: #5E33D1;
$white: #FFFFFF;
$grey: #191919;
$black: #0B0B0B;

$font-main: "Be Vietnam", sans-serif;
// $font-main: "Arimo", sans-serif;