@import "typography";
@import "variables";
@import "mixins";

.color-red {
  color: $red
}
.color-yellow {
  color: $yellow
}
.color-blue {
  color: $blue
}
.border-red {
  border-color: $red
}
.border-yellow {
  border-color: $yellow
}
.border-blue {
  border-color: $blue
}
.bg-rainbow {
  background: linear-gradient(to right, $blue, $purple, $red, $yellow);
}
.bg-blue {
  background-color: $blue;
}
.bg-yellow {
  background-color: $yellow;
}
.bg-red {
  background-color: $red;
}

section.demo-text {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
section.demo-interactive {
  margin-left: 3rem;
  padding-bottom: 8rem;
  @include flex-center;
  align-items: flex-start;
  filter: drop-shadow(0px 25px 25px $red-shadow);
  .speaker {
    img {
      max-width: initial;
    }
    &:nth-child(2) {
      margin: 13rem 0 0 4rem;
      transform: scaleX(-1);
    }
    ::before {
      mix-blend-mode: multiply;
    }
  }
  .Button {
    position: absolute;
    margin-top: 35rem;
  }
}