@import "../styles/global.scss";

.Button {
  color: $white;
  font-size: 1.2rem;
  font-weight: 800;
  background-color: $white;
  border-radius: 20rem;
  height: 4rem;
  width: 16rem;
  margin: 1.5rem 0;
  letter-spacing: 0.18rem;
  user-select: none;
  @include flex-center;
  span {
    transform: scale(1, 0.9);
    padding-bottom: 0.3rem;
  }
  &.large {
    font-size: 1.5rem;
    height: 5rem;
    width: 18rem;
  }
  &:hover {
    cursor: pointer;
  }
  &.circle {
    background-color: transparent;
    border: 3px solid $white;
    height: 7.75rem;
    width: 8rem;
    font-size: 1.5rem;
    font-weight: 800;
  }
}